[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AsymmetricSORDs"]
	path = AsymmetricSORDs
	url = https://github.com/cran/AsymmetricSORDs
[submodule "CompExpDes"]
	path = CompExpDes
	url = https://github.com/cran/CompExpDes
[submodule "GETdesigns"]
	path = GETdesigns
	url = https://github.com/cran/GETdesigns
[submodule "GRCdesigns"]
	path = GRCdesigns
	url = https://github.com/cran/GRCdesigns
[submodule "HadIBDs"]
	path = HadIBDs
	url = https://github.com/cran/HadIBDs
[submodule "MEDesigns"]
	path = MEDesigns
	url = https://github.com/cran/MEDesigns
[submodule "MixedLevelRSDs"]
	path = MixedLevelRSDs
	url = https://github.com/cran/MixedLevelRSDs
[submodule "NBBDesigns"]
	path = NBBDesigns
	url = https://github.com/cran/NBBDesigns
[submodule "OPTeCD"]
	path = OPTeCD
	url = https://github.com/cran/OPTeCD
[submodule "PBtDesigns"]
	path = PBtDesigns
	url = https://github.com/cran/PBtDesigns
[submodule "PolycrossDesigns"]
	path = PolycrossDesigns
	url = https://github.com/cran/PolycrossDesigns
[submodule "SFOCDs"]
	path = SFOCDs
	url = https://github.com/cran/SFOCDs
[submodule "SudokuDesigns"]
	path = SudokuDesigns
	url = https://github.com/cran/SudokuDesigns
[submodule "TORDs"]
	path = TORDs
	url = https://github.com/cran/TORDs
[submodule "TREDesigns"]
	path = TREDesigns
	url = https://github.com/cran/TREDesigns
[submodule "Tri.Hierarchical.IBDs"]
	path = Tri.Hierarchical.IBDs
	url = https://github.com/cran/Tri.Hierarchical.IBDs
[submodule "rsdNE"]
	path = rsdNE
	url = https://github.com/cran/rsdNE
